.classpath
.project
.settings/
*/test-output/**
target/*
test-output/
velocity.log
/.idea/
.idea/modules.xml
.idea/vcs.xml
modules.xml
vcs.xml
velocity.log
/testbasic.xml
allure-results/*
!allure-results/environment.properties
!allure-results/categories.json
allure-report/*
target/**
target/
