<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

  <test name="ParallelTest"  >
 <classes>
 <class name="TestCases.AddToCartTestcases" />
 <class name="TestCases.AddToCartTestcases2" />
 <class name="TestCases.AddToCartTestcases3" />

 </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
